name: Run Java Program

on:
  push:
    branches: [ "jcode" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: temurin
          java-version: 17

      - name: Build with Maven
        run: mvn -f java/pom.xml clean package

      - name: Run Program
        run: mvn -f java/pom.xml exec:java